<script>
    var k=0;
    var certificate = "<div class='row'> <div class='row'> <h2>Please enter certificate details</h2> </div> <div class='row'> <div class='input-field col s12'><input placeholder='Enter Student Name:' type='text' class='validate' name=name[]><label for='first_name' class='active'>Student Name:</label></div> </div> <div class='row'> <div class='input-field col s6'><input placeholder='Enter Certificate ID' type='text' class='validate' name=certificateId[]><label for='certificateid' class='active'>CertificateID:</label></div> <div class='input-field col s6'> <input placeholder='Enter date of birth' type='text' class='datepicker' name=dateofbirth[]> <label for='dateofbith' class='active'>Date Of Birth</label> </div> </div> <div class='row'> <div class='input-field col s6'><input placeholder='Enter Roll No' type='text' class='validate pin' name=pin[]><label for='first_name' class='active'>PIN:</label></div> <div class='input-field col s6'> <input placeholder='Date Of Issue' type='text' class='validate' name=doi[]> <label for='doi' class='active'>Date of Issue:</label> </div> </div> <table> <thead> <tr> <th>Subject</th> <th>Marks</th> </tr> </thead> <tbody> <tr> <td> <input placeholder='Enter Subject' type='text' name=subjects["+k+++"] class='validate subject'> </td> <td> <input placeholder='Enter Marks' type='text' name=marks["+k+++"] class='validate marks'> </td> </tr> <tr> <td> <input placeholder='Enter Subject' type='text' name=subjects["+k+++"] class='validate subject'> </td> <td> <input placeholder='Enter Marks' type='text' name=marks["+k+++"] class='validate marks'> </td> </tr> <tr> <td> <input placeholder='Enter Subject' type='text' name=subjects["+k+++"] class='validate subject'> </td> <td> <input placeholder='Enter Marks' type='text' name=marks["+k+++"] class='validate marks'> </td> </tr> <tr> <td> <input placeholder='Enter Subject' type='text' name=subjects["+k+++"] class='validate subject'> </td> <td> <input placeholder='Enter Marks' type='text' name=marks["+k+++"] class='validate marks'> </td> </tr> <tr> <td> <input placeholder='Enter Subject' type='text' name=subjects["+k+++"] class='validate subject'> </td> <td> <input placeholder='Enter Marks' type='text' name=marks["+k+++"] class='validate marks'> </td> </tr> </tbody> </table></div>";

    var submitButton = "<div class='center-align'> <button class='btn waves-effect waves-light btn-large' type='submit' name='action'>Submit <i class='material-icons right'>send</i></button></div><br><br>";


    $("#loadForms").on('click', function () {
        var noOfforms = $('input[name=noOfCerts]').val();
        console.log(noOfforms);
        for(var j=1; j<=noOfforms; j++){
         $('#addToForm').append(certificate);
        }
        $('#addToForm').append(submitButton);
    });
    
</script>