<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About us</h5>
          <p class="grey-text text-lighten-4">This is our B.Tech final year project which was created to solve a real world problem to reduce the hasle in certiicate distribution by providing a unified platform.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Tech Stack</h5>
          <ul>
            <li><a class="white-text" href="#!">Node.js</a></li>
            <li><a class="white-text" href="#!">MongoDB</a></li>
            <li><a class="white-text" href="#!">MaterilizeCSS</a></li>
            <li><a class="white-text" href="#!">GtiHub</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team</h5>
          <ul>
              <li><a class="white-text" href="#!">GUIDE: <b>P. KALYAN CHAKRAVARTHY</b></a></li>
            <li><a class="white-text" href="#!">Naveen Raju</a></li>
            <li><a class="white-text" href="#!">Hema Latha</a></li>
            <li><a class="white-text" href="#!">Chinni Krishna</a></li>
            <li><a class="white-text" href="#!">Nookesh</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!-- <div class="footer-copyright">
      <div class="container">
     <a class="white-text text-lighten-3" href="#">
      </a>
      </div>
    </div>
  -->
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
