<nav class="teal lighten-1 navbar-fixed" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="large material-icons">merge_type</i>CertChain</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/explore"><i class="material-icons left">grain</i>Blockchain</a></li>
        <li><a href="/addNode"><i class="material-icons left">person_add</i>AddNode</a></li>
        <li><a href="/addData"><i class="material-icons left">note_add</i>AddData</a></li>
        <li><a href="#"><i class="material-icons left">local_library</i>Documentation</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
          <li><a href="/explore"><i class="material-icons left">grain</i>Blockchain</a></li>
        <li><a href="/addNode"><i class="material-icons left">person_add</i>AddNode</a></li>
        <li><a href="/addData"><i class="material-icons left">note_add</i>AddData</a></li>
        <li><a href="#"><i class="material-icons left">local_library</i>Documentation</a></li>
        </ul>
    </div>
  </nav>