<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <% include ./partials/header %>

  <div class="container">
    <div>

      <br><br>
      <h4>Please select how many certificates you want to enter:</h4>
      <br>
      <div id="bucket">
        <p class="range-field">
          <input type="range" id="test5" min="0" max="10" name="noOfCerts" />
          <div class="center-align">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="action" id="loadForms">
              Get Forms
              <i class="material-icons right">person_add</i>
            </button>
          </div>
        </p>
      </div>
      <br><br>
      <form class='col s12' id='addToForm' method="POST" action="/addData">

      </form>
    </div>
  </div>

  <% include ./partials/footer %>
  <% include ./partials/addDataScripts %>
  <script>
    $(document).ready(function () {
      $('.datepicker').datepicker();
    });
    $('#submitBtn').on('click',function(){
      M.toast({html: 'Bingo! data Added Successfully!'}, 5000);
    });
  </script>
</body>

</html>