<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="large material-icons">merge_type</i>CertChain</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/getChain"><i class="material-icons left">grain</i>Blockchain</a></li>
        <li><a href="/addNode"><i class="material-icons left">person_add</i>AddNode</a></li>
        <li><a href="/addData"><i class="material-icons left">note_add</i>AddData</a></li>
        <li><a href="#"><i class="material-icons left">local_library</i>Documentation</a></li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">A 21st century's decentralized certificate distribution platform</h1>
      <div class="row center">
        <h5 class="header col s12 light">A purely transparent, tamper proof and distributed blockchain network </h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal pulse">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons pulse">flash_on</i></h2>
            <h5 class="center">Unified platform</h5>

            <p class="light">No more confusion!, A single platform for universities to distribute their certificates.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Distrinbuted Power</h5>

            <p class="light">Say Good Bye to server Crashes!, By utilizing our platform you can bring the distributed computing power.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Easy to Validate</h5>

            <p class="light">Don't worry about the genuinity of certificates, A single stop destination for verifying certificates.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About us</h5>
          <p class="grey-text text-lighten-4">This is our B.Tech final year project which was created to solve a real world problem to reduce the hasle in certiicate distribution by providing a unified platform.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Tech Stack</h5>
          <ul>
            <li><a class="white-text" href="#!">Node.js</a></li>
            <li><a class="white-text" href="#!">MongoDB</a></li>
            <li><a class="white-text" href="#!">MaterilizeCSS</a></li>
            <li><a class="white-text" href="#!">Socket.io</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team</h5>
          <ul>
            <li><a class="white-text" href="#!">Naveen Raju</a></li>
            <li><a class="white-text" href="#!">Hema Latha</a></li>
            <li><a class="white-text" href="#!">Chinni Krishna</a></li>
            <li><a class="white-text" href="#!">Nookesh</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Coded by <a class="white-text text-lighten-3" href="#">Naveen Raju</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
